.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 680px;

    @media (max-width: 680px) {
        flex-direction: column;
        height: min-content;
    }
}

.image {
    max-width: 700px;
    height: 680px;

    img {
        height: 100%;
        width: 500px;
    }

    @media (max-width: 680px) {
        height: 480px;
        
        img {
            height: 480px;
            width: 100%;
        }
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    flex-grow: 1;

    @media (max-width: 680px) {
        padding: 32px;
    }
}