@use '../../../assets/styles/colors.scss' as colors;

.section-container-texts {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 32px;
    color: colors.$color-neutral-white;
}

.course-section-title {
    font-family: 'Georgia, serif';
    font-size: 68px;
    line-height: 68px;
    font-weight: 400;

    @media screen and (max-width: 991px){
    font-size: 60px;
    line-height: 70px;
    }

    @media screen and (max-width: 680px){
        font-size: 40px;
        line-height: 50px;
        }
}

.course-section-description {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}