@use '../../assets/styles/colors.scss' as colors;

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 680px;
}

.title {
    margin-bottom: 24px;
    max-width: 640px;
    
    h1 {
        color: colors.$color-brand-primary-pure;
    }

    @media (max-width: 680px) {
        h1 {
            font-size: 28px;
            line-height: 28px;
        }
    }
}

.benefits-action-button {
    margin-top: 24px;
    max-width: 500px;
}