@use '../../assets/styles/colors.scss' as colors;

.container-course {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 390px;
    height: 370px;
    background-color: white;
    border-radius: 14px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-image {
    width: 100%;
    height: 214px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

    img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
    }
}

.card-title, .card-description, .card-duration {
    text-align: center;
    max-width: 300px;
}

.card-title {
    color: colors.$color-brand-primary-pure;
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

.card-subtitle {
    color: colors.$color-brand-primary-pure;
    font-size: 14px;
    font-weight: bold;
}
.card-description {
    color: colors.$color-neutral-gray;
    font-size: 14px;
    margin-top: 6px;
}

.card-duration {
    color: colors.$color-neutral-gray;
    font-size: 14px;
    margin-top: 10px;
}