@use '../../../assets/styles/colors.scss' as colors;

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: 100%;
    height: 100%;

    font-family: 'Rubik', sans-serif;
}

.menu {
    border: none;
    color: colors.$color-brand-primary-pure;
    height: 24px;
}

.home {
    span {
        color: colors.$color-brand-primary-pure;
        font-weight: bold;
        font-size: 18px;
        text-decoration: underline;
    }
}
